@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body, .curriculum{
    height: 100vh !important;

}

.row {
    --bs-gutter-x: none !important;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: none !important;
    margin-right: none !important;
    margin-left: none !important;
}

.side-left{
    background: #155AA7;
}

.side-rigth{
    padding: 30px 30px;
}

.photo-me{
    width: 100%;
}

.photo-me img{
    width: 100%;
    background-size: cover;
    height: 100%;
}

.sections-side{
    margin: 20px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;     
}

h3, h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;     
}

.firstname{
    font-size: 3.8rem;
    color: #155AA7;
}

.lastname{
    margin-top: -20px;
    font-size: 5.2rem;
    color: #155AA7;
}

.sections-side{
    color: #fff;
    margin-top: 30px;
    margin-bottom: 40px;
}

.profission{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.0rem;
    padding-bottom: 10px;
    color: #155AA7;
    border-bottom: 8px solid #247DDB;  
}

.container-blue-light{
    height: 40px;
    background: #247DDB;
}

.title-side-right{
    margin: 25px 0px;
    font-family: 'Poppins', sans-serif;
    color: #565656;
}

.text-side-right{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.0rem;    
}